@use './_Header';

#about {

    .images-section {
        position: relative;

        img {
            width: 70%;
            box-shadow: 0 0.0625em 0.0625em rgba(0, 0, 0, 0.25), 0 0.125em 0.5em rgba(0, 0, 0, 0.25), 0 0 0px 1px rgba(255, 255, 255, 0.1) inset;
            transition: transform 0.3s ease;
        }

        @media (min-width: 701px) {
            img {
                position: absolute;
                z-index: 1;
                margin: 12% 0 0 5%;
            }

            .header-logo-over-one {
                left: -0.45vw;
                bottom: -0.6vw;
            }

            .header-logo-over-two {
                top: -5vw;
                right: 0vw;
                position: absolute;
            }
        }

        @media (max-width: 700px) {
            img {
                margin: 35% 5% 0 0;
            }

            .header-logo-over-two {
                top: -20vw;
                right: 0vw;
                position: absolute;
            }
        }
    }
}