@import '../../../assets/css/variable/globalVariables';

.footer {
    padding: $globalPadding;
    display: grid;

    @media (min-width: 701px) {
        grid-template-columns: 1fr 3fr;
    }

    @media (max-width: 700px) {
        grid-template-columns: 1fr 1fr;
    }

    .footerLogo {
        width: 60%;
        height: 100%;

        @media (max-width: 700px) {
            height: 60%;
            align-self: center;
        }
    }

    div {
        margin: 0;
        display: grid;

        @media (min-width: 701px) {
            grid-template-columns: 1fr 1fr 1fr;
        }

        @media (max-width: 700px) {
            grid-template-rows: 1.5fr 1fr 1fr;
            gap: 0;
        }

        ul {
            @media (max-width: 700px) {
                margin: 0;
            }

            li {
                white-space: nowrap;
                text-transform: capitalize;
                display: grid;

                p {
                    font-size: var(--button-font-size);
                    font-weight: bold;
                }

                a {
                    text-decoration: none;
                    color: black;
                    // font-size: 1vw;
                    font-size: var(--p-font-size);
                    display: list-item;
                    margin-left: 10%;
                    font-family: 'Karla', sans-serif;
                }

                a:hover {
                    color: #495E57;
                    text-decoration: underline;
                }
            }
        }
    }
}