$radius : 16px;
$globalPadding : 0 15%;

.footer {
    padding: $globalPadding;
    margin-bottom: 2.5%;
    display: grid;

    @media (min-width: 701px) {
        grid-template-columns: 1fr 3fr;
    }

    @media (max-width: 700px) {
        grid-template-columns: 1fr 1fr;
    }

    img {
        width: 45%;
        @media (max-width: 700px) {
            width: 65%;
            align-self: center;
        }
    }

    section {
        margin: 0;
        display: grid;

        @media (min-width: 701px) {
            grid-template-columns: 1fr 1fr 1fr;
        }

        @media (max-width: 700px) {
            grid-template-rows: 1.5fr 1fr 1fr;
            gap: 0;
        }

        ul {
            @media (max-width: 700px) {
                margin: 0;
            }

            li {
                white-space: nowrap;
                text-transform: capitalize;
                display: grid;

                p {
                    font-size: var(--button-font-size);
                    font-weight: bold;
                }

                a {
                    text-decoration: none;
                    color: black;
                    font-size: var(--p-font-size);
                    display: list-item;
                    margin-left: 10%;
                    font-family: 'Karla', sans-serif;
                }

                a:hover {
                    color: #495E57;
                    text-decoration: underline;
                }
            }
        }
    }
}