$radius: 1vw;

.main {
  padding: 0 13%;
  text-transform: capitalize;

  @media (max-width: 700px) {
    margin-bottom: 10%;
  }

  .title-section {
    display: grid;
    padding: 0 2%;
    @media (min-width: 701px) {
      grid-template-columns: 1fr 1fr;
    }

    @media (max-width: 700px) {
      grid-template-rows: 1fr 1fr;
    }

    .h1 {
      font-size: var(--h1-font-size);
      white-space: nowrap;
      margin: 0;
    }

    div {
      @media (min-width: 701px) {
        text-align: right;
      }

      @media (max-width: 700px) {
        text-align: center;
      }
    }
  }
}