$radius: 1vw;

.form-section-phase-two {
    display: grid;

    .sub-form {
        display: grid;

        @media (min-width: 701px) {
            grid-template-columns: repeat(2, 1fr);

            .mobile {
                display: none !important;
            }
        }

        @media (max-width: 700px) {
            .desktop {
                display: none !important;
            }
        }

        grid-gap: 5%;
        justify-content: center;
        background-color: #495E57;
        padding: 0 15% 1% 15%;

        .form-column {
            display: grid;
            padding: 5% 0;
            color: white;

            @media (min-width: 701px) {
                grid-template-rows: repeat(2, 1fr) 2fr;
            }

            .error-message {
                color: #EE9972;
                margin: 0;
            }

            .input-section {
                display: flex;
                flex-direction: column;
                padding: 2.5% 0;
                position: relative;

                input,
                textarea {
                    padding: 3%;
                    border-radius: $radius;
                    border: none;
                    outline: none;
                    font-size: var(--form-font-size);
                    color: #495E57;
                    transition: box-shadow 0.3s ease-in-out;
                }

                textarea {
                    height: 100%;
                }

                input:focus,
                textarea:focus {
                    box-shadow: 0 0 0 0.2vw #f4ce14;
                }

                .error-message {
                    font-size: var(--p-font-size);
                    position: absolute;
                    white-space: nowrap;
                    display: flex;
                    gap: 0.25vw;
                    width: 75%;
                    transition: color 0.3s ease-in-out;
                    cursor: default;

                    @media (min-width: 701px) {
                        top: 5.75vw;
                    }

                    @media (max-width: 700px) {
                        top: 13.5vw;
                    }

                    .icon {
                        margin-top: 0.1%;
                    }
                }

                // .hidden {
                //     color: #495E57 !important;
                // }
            }

            label {
                font-size: var(--p-font-size);
                display: flex;
                gap: 1%;
                margin-bottom: 1%;

                .icon {
                    font-size: var(--form-font-size);
                    margin-top: 0.1vw;
                }
            }

            .first-column-lower-section {
                display: grid;

                .icons-section {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    margin-top: 7.5%;

                    div {
                        cursor: pointer;
                        display: grid;
                        grid-template-columns: 1fr 5fr;
                        justify-content: center;
                        white-space: nowrap;
                        font-size: var(--form-font-size);

                        @media (max-width: 700px) {

                            &:nth-child(3),
                            &:nth-child(4) {
                                margin-top: 7.5%;
                            }
                        }

                        .icon {
                            font-size: var(--button-font-size);
                        }

                        span {
                            margin-top: 0.2vw;
                        }

                    }

                    div:hover {
                        color: lightgrey;
                    }

                    .alert-icon {
                        margin-left: 10%;

                        @media (min-width: 701px) {
                            top: -1vw;
                        }

                        @media (max-width: 700px) {
                            top: -2.5vw;
                        }
                    }
                }

                .error-message {
                    position: relative;

                    .alert-icon {
                        position: absolute;
                    }
                }

                .error-message:hover {
                    color: #ee7036 !important;
                }

                .seating {
                    margin: 0 20%;

                    @media (max-width: 700px) {
                        margin: 5% 25%;
                    }

                    font-size: var(--button-font-size);
                    cursor: pointer;

                    .alert-icon {
                        margin-left: 19%;

                        @media (min-width: 701px) {
                            top: -1.5vw;
                        }

                        @media (max-width: 700px) {
                            top: -3vw;
                        }
                    }
                }

                .seating:hover {
                    color: lightgrey;
                }
            }

            .radio-section {
                // display: grid;
                // grid-template-columns: 1fr 10fr;
                display: flex;
                white-space: nowrap;
                align-items: center;
                gap: 2.5%;

                input[type="checkbox"] {
                    appearance: none;
                    display: inline-block;
                    width: 1vw;
                    height: 1vw;
                    border-radius: 50%;
                    outline: none;
                    cursor: pointer;
                    background-color: transparent;
                    box-shadow: 0 0 0 0.15vw #EDEFEE;
                    border: 0.30vw solid #495E57;
                    // transition: box-shadow 0.3s ease-in-out;

                    &:hover {
                        box-shadow: 0 0 0 0.15vw lightgrey;
                    }

                    &.error {
                        box-shadow: 0 0 0 0.15vw #EE9972;
                    }
                }

                input[type="checkbox"]:checked {
                    background-color: #EDEFEE !important;
                    background-clip: content-box;
                }

                label {
                    margin: 0;
                }

                a {
                    color: white;
                }
            }
        }
    }

    Button {
        display: flex;
        justify-content: center;
        margin: 1% auto;
        padding: 1%;
    }
}