$radius : 1vw;
$globalPadding : 0 15%;

.confirmation {
    font-size: var(--form-font-size);

    img {
        width: 100%;
        height: 100%;
        border-radius: $radius;
    }

    section {
        display: grid;
        margin: $globalPadding;
        margin-bottom: 1%;

        @media(min-width: 701px) {
            grid-template-columns: 1fr 1fr;
        }

        @media (max-width: 700px) {
            grid-template-rows: 1fr 1fr;
            // grid-gap: 1.25%;
        }

        .booking-table {
            border-collapse: collapse;
            white-space: nowrap;
            background-color: #495E57;
            border-radius: $radius;
            color: #EDEFEE;

            .confirm-header {
                text-align: center;
                font-size: var(--h1-font-size);
                color: #f4ce14;
                padding: $globalPadding;
                margin: 0;
            }

            tbody {
                tr {
                    display: grid;

                    @media(min-width: 701px) {
                        grid-template-columns: 2fr 1fr 3fr;
                    }

                    @media (max-width: 700px) {
                        grid-template-columns: 3fr 1fr 3fr;
                    }

                    border-radius: $radius;
                    background-color: #EDEFEE;
                    margin: 1.25vw;
                    transition: background-color 0.3s ease-in-out;


                    td {
                        @media(min-width: 701px) {
                            padding: 1.25vw;
                        }

                        @media (max-width: 700px) {
                            padding: 2.9vw;
                        }

                        color: #495E57;
                        text-align: center;
                        font-weight: bold;

                        text-align: left;
                        padding-left: 1vw;

                        span {
                            transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
                            cursor: default;
                        }
                    }

                    &:hover {
                        background-color: lightgrey;

                        // span {
                        //     color: black;
                        // }
                    }

                    td:nth-of-type(1) {
                        border-top-right-radius: $radius;
                        border-bottom-right-radius: $radius;
                    }

                    td:nth-of-type(2) {
                        border-top-left-radius: $radius;
                        border-bottom-left-radius: $radius;
                    }
                }

                tr:nth-of-type(1) {
                    border-top: none;
                }
            }
        }
    }
}