@mixin image {
    width: 87%;
    height: 77%;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    margin-top: 20%;
    margin-left: 20%;
}