:root {
    --h1-font-size: 4.35vw;
    --h3-font-size: 2.65vw;
    --button-font-size: 1.5vw;
    --icon-font-size: 1.35vw;
    --p-font-size: 1vw;
}

@media (max-width: 700px) {
    :root {
        --h1-font-size: 8.7vw;
        --h3-font-size: 5.3vw;
        --button-font-size: 3vw;
        --icon-font-size: 2.7vw;
        --p-font-size: 2vw;
    }
}

$radius : 16px;
$globalPadding : 1% 20%;
$green-color: #495E57;