@use './_Header';

.about {
    margin: 10% 0%;
    height: 30vw;

    .textSection {
        padding-top: 15%;
    }

    .imagesSection {
        position: relative;

        img {
            width: 70%;
            height: 70%;
            margin-left: 10%;
            transition: opacity 0.3s ease-in-out;
        }

        .headerLogoOver {
            position: absolute;
            bottom: 8vw;
            left: 8vw;
        }

        .headerLogoHoverAppear {
            position: absolute;
            opacity: 0;
            bottom: 1.05vw;
            left: 0vw;
        }

        .headerLogoHover {
            opacity: 0
        }

        .headerLogoHoverDis:hover {
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
        }

        .headerLogoHoverAppear:hover {
            opacity: 1;
            transition: opacity 0.3s ease-in-out;

        }

    }
}