@use './_Header';

.about {
    margin-top: 5%;
    // margin: 5% 0;
    .imagesSection {
        position: relative;

        img {
            @media (min-width: 701px) {
                margin: 30% 0 0 5%;
            }

            @media (max-width: 700px) {
                margin: 20% 5% 0 0;
            }

        }

        .headerLogoOver {
            position: absolute;

            @media (min-width: 701px) {
                height: 58%;
            }

            @media (max-width: 700px) {
                height: 48%;
            }

            top: -7vw;
            right: 0;
        }
    }
}