.button {
    cursor: pointer;
    border: none;
    text-transform: capitalize;
    font-weight: bold;
    white-space: nowrap;
    font-size: var(--button-font-size);
    outline: none;
    color: black;
    margin: 1vw 0;
    padding: 3%;
    justify-self: center;
    background-color: #F4CE14;
    border-radius: 16px;
    transition: color 0.3s ease-in-out;
    transition: border-radius 0.3s ease;
    -webkit-transition: border-radius 0.3s ease;
    -moz-transition: border-radius 0.3s ease;
    -ms-transition: border-radius 0.3s ease;
    -o-transition: border-radius 0.3s ease;
}

.button:hover {
    border-radius: 0 32px 0 32px;
}

.button:disabled {
    cursor: not-allowed;
    background-color: #EDEFEE;
    box-shadow: none;
    border: 1px solid rgba(73, 94, 87, 0.5);
}