$radius: 16px;

.custom-select {
    .options-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        position: absolute;
        width: 100%;
        background-color: #EDEFEE;
        color: #495E57;
        border-radius: $radius;
        padding: 0;
        margin: 1% 0;
        list-style: none;
        z-index: 1;
        white-space: nowrap;

        li {
            display: flex;
            justify-content: center;
            padding: 12.5% 0;
            cursor: pointer;
            border-bottom: 1px dashed #495E57;
            transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
        }


        li:nth-last-child(2):nth-child(odd) {
            border: none;
            border-bottom-left-radius: $radius;
        }

        li:nth-last-child(2):nth-child(even) {
            border: none;
            border-bottom: 1px dashed #495E57;
            border-left: 1px dashed #495E57;
        }

        li:last-child:nth-child(even) {
            border: none;
            border-bottom-right-radius: $radius;
            border-left: 1px dashed #495E57;
        }

        li:last-child:nth-child(odd) {
            border: none;
            border-bottom-left-radius: $radius;
            border-right: 1px dashed #495E57;
        }

        li:first-child {
            border-top-left-radius: $radius;
        }

        li:nth-child(2) {
            border-top-right-radius: $radius;
        }

        li:nth-child(even) {
            border-left: 1px dashed #495E57;
        }

        li.selected {
            background-color: lightgrey;
        }

        li:hover {
            background-color: lightgrey;
        }
    }
}