$radius: 1vw;

.date-picker-calendar {
  position: absolute;
  background-color: #EDEFEE;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1), 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
  color: #495E57;
  margin: 1% 0;
  padding: 7.5%;
  border-radius: $radius;
  z-index: 1;
  display: grid;
  white-space: nowrap;

  .date-picker-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;

    span {
      padding-left: 3.5%;
    }

    .nex-prev-section {
      display: flex;
      padding-right: 5%;
      gap: 25%;

      .prev-month-btn,
      .next-month-btn {
        background: none;
        border: none;
        font-size: var(--form-font-size);
        cursor: pointer;
        box-shadow: none !important;
      }

      .prev-month-btn:hover,
      .next-month-btn:hover {
        color: black;

      }
    }
  }

  .weekdays {
    display: flex;
    justify-content: space-between;
    margin: 7.5% 0 2.5% 0;

    span {
      width: 14.28%;
      text-align: center;
    }
  }

  .calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);

    span {
      text-align: center;
      cursor: pointer;
      padding: 0.75vw;
      border-left: 1px solid #495E57;
      border-bottom: 1px solid #495E57;
    }

    span:hover {
      background-color: lightgrey;
    }

    .prev-month,
    .next-month {
      background-color: lightgrey;
      opacity: 75%;
      cursor: context-menu;
    }

    .today {
      background-color: lightgrey;
    }

    .selected {
      background-color: #495E57;
      color: #EDEFEE;
    }

    @for $i from 1 through 7 {
      span:nth-child(#{$i}) {
        border-top: 1px solid #495E57;
      }
    }

    @for $i from 7 through 42 {
      span:nth-child(#{$i}) {
        @if $i % 7==0 {
          border-right: 1px solid #495E57;
        }
      }
    }

    span:nth-child(1) {
      border-top-left-radius: $radius;
    }

    span:nth-child(7) {
      border-top-right-radius: $radius;
    }

    span:nth-child(36) {
      border-bottom-left-radius: $radius;
    }

    span:nth-child(42) {
      border-bottom-right-radius: $radius;
    }
  }

  .current-month-year {
    color: black;
  }
}