.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    // margin: 0;
    padding: 1% 15% 1% 15%;
    .footerLogo {
        width: 60%;
        height: 100%;
    }
    ul {
        margin: 0;
        li {
            white-space: nowrap;
            text-transform: capitalize;
            display: grid;
            p{
                font-size: 1.5vw;
                font-weight: bold;
            }
            a {
                text-decoration: none;
                color: black;
                font-size: 1vw;
            }
        }
    }
}