.custom-select {
    position: relative;
    width: 100%;
    cursor: pointer;
    font-size: var(--form-font-size);
    font-weight: bold;

    .select-header {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        white-space: nowrap;
        background-color: #EDEFEE;
        border-radius: var(--radius);
        color: #495E57;
        padding: 5% 0;
        transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

        &.selected {
            background-color: #495E57;
            color: #EDEFEE;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1), 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
        }

        &.open {
            background-color: #EDEFEE;
        }

        &:not(.selected):hover {
            background-color: lightgrey;
        }
    }

    .icon {
        font-size: var(--button-font-size);
    }


}