@use './mixin/button' as *;

.main {
    padding: $globalPadding;
    text-transform: capitalize;

    @media (max-width: 700px) {
        margin-bottom: 10%;
    }

    .titleSection {
        display: grid;

        @media (min-width: 701px) {
            grid-template-columns: 1fr 1fr;
        }

        @media (max-width: 700px) {
            grid-template-rows: 1fr 1fr;
        }

        .h1 {
            font-size: var(--h1-font-size);
            white-space: nowrap;
            margin: 0;
        }

        div {

            @media (min-width: 701px) {
                text-align: right;
            }

            @media (max-width: 700px) {
                text-align: center;
            }

            button {
                @include button();
            }
        }

        button:hover {
            color: $green-color;
        }
    }

    .cardsSection {
        display: grid;
        grid-gap: 5%;

        @media (min-width: 701px) {
            grid-template-columns: 1fr 1fr 1fr;
        }

        @media (max-width: 700px) {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
        }


        .card {
            border-top-left-radius: $radius;
            border-top-right-radius: $radius;
            background-color: #EDEFEE;
            display: grid;
            grid-template-rows: 4fr, repeat(3, 1fr);
            grid-gap: 0;

            img {
                width: 100%;

                @media (min-width: 701px) {
                    height: 12vw;
                }

                @media (max-width: 700px) {
                    height: 20vw;
                }

                object-fit: cover;
                border-top-left-radius: $radius;
                border-top-right-radius: $radius;

            }

            div {
                display: grid;
                grid-template-columns: 1fr 1fr;
                white-space: nowrap;
                padding: 0% 10%;
                margin: 0;
                font-weight: bold;
                font-size: var(--button-font-size);

                .price {
                    color: #EE9972;
                    text-align: right;
                }
            }

            .cardDescription {
                padding: 0% 10%;
                color: $green-color;
                font-size: var(--p-font-size);
                font-family: 'Karla', sans-serif;
            }

            button {
                cursor: pointer;
                border: none;
                text-transform: capitalize;
                font-weight: bold;
                white-space: nowrap;
                font-size: var(--p-font-size);
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 4%;
                justify-self: center;
                align-self: center;
                padding: 10%;

                background-color: #EDEFEE;

                .icon {
                    font-size: var(--icon-font-size)
                }
            }

            button:hover {
                color: $green-color;
            }
        }
    }
}