$radius: 0.5vw;
$radius_2: 1vw;
$globalPadding: 1% 15%;

.nav {
    padding: $globalPadding;
    margin: 0;
    display: flex;
    justify-content: space-between;
    gap: 1%;
    align-items: center;
    font-size: var(--p-font-size);
    position: relative;

    .nav-logo {
        width: 100%;
        height: 100%;
        cursor: pointer;
    }

    ul {
        background-color: white;
        text-transform: capitalize;
        white-space: nowrap;
        padding: 0;
        margin: 0;
        display: flex;
        gap: 0.75vw;

        li {
            display: flex;
            position: relative;

            @media (min-width: 701px) {
                grid-template-columns: repeat(6, 1fr);
            }

            a {
                text-decoration: none;
                color: #495E57;
                cursor: pointer;
                font-weight: bold;
                padding: 0.25vw;
                position: relative;
                border-radius: $radius;
                transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            a:hover {
                background-color: #495E57;
                color: white;
            }
        }
    }

    .ul-bar {
        @media (max-width: 700px) {
            display: none;
        }
    }

    .ul-menu {
        position: absolute;
        top: calc(90% + 10px);
        right: -5.5vw;
        margin-right: 9vw;
        z-index: 1;
        width: 25%;
        background-color: white;
        border-radius: $radius;
        display: flex;
        flex-direction: column;
        gap: 25%;
        box-shadow: 0 0.0625em 0.0625em rgba(0, 0, 0, 0.25), 0 0.125em 0.5em rgba(0, 0, 0, 0.25), 0 0 0px 1px rgba(255, 255, 255, 0.1) inset;

        @media(max-width: 700px) {
            &.open {
                display: block;
            }
        }

        @media(min-width: 701px) {
            display: none;
        }

        li {
            justify-content: center;
            padding: 2.5%;
            position: relative;

            a {
                padding: 0.75vw;
                border-radius: $radius_2;
            }
        }
    }

    .menu-icon {
        display: none;
        justify-self: right;
        align-self: center;
        background-color: white;
        border: none;
        padding: 0;
        cursor: pointer;
        transition: transform 0.3s ease-in-out;

        @media (max-width: 700px) {
            display: block;
        }

        &.open {
            transform: rotate(90deg);
        }
    }

    .count {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        z-index: 1;

        @media(max-width: 700px) {
            top: -2.9vw;
            left: 9.5vw;
            padding: 0 2.5%;
        }

        @media(min-width: 701px) {
            top: -1.9vw;
            right: 0.7vw;
            padding: 0 20%;
        }

        background-color: #EE9972;
        border-radius: 100%;

        font-weight:bold;
    }
}

.active {
    background-color: #495E57;
    color: white !important;
}