$radius : 1vw;

.product-card {
    border-radius: $radius;
    background-color: #EDEFEE;
    display: grid;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1), 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;

    img {
        width: 100%;
        //height: 100%;
        object-fit: cover;
        border-top-left-radius: $radius;
        border-top-right-radius: $radius;
        transition: transform 0.3s ease-in-out;

        @media(max-width: 700px) {
            height: 26vw;
        }

        @media (min-width: 701px) {
            height: 13vw;
        }
    }

    article {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;

        div {
            display: grid;
            grid-template-columns: 3fr 1fr;
            white-space: nowrap;
            padding: 0 10%;
            font-weight: bold;
            font-size: var(--button-font-size);

            p:first-child {
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .price {
                color: #EE9972;
                text-align: right;
            }
        }

        .card-description {
            padding: 0 10%;
            color: #495E57;
            font-size: var(--p-font-size);
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }

        .card-button {
            cursor: pointer;
            display: flex;
            border: none;
            text-transform: none;
            font-weight: bold;
            white-space: nowrap;
            justify-self: left;
            margin-left: 10%;
            background-color: #EDEFEE;
            transition: color 0.3s ease-in-out;
            align-self: center;
            // text-decoration: none;
            color: black;
            font-size: var(--icon-font-size);

            .icon {
                margin-top: 0.25vw;
            }
        }

        .card-button:hover {
            color: #495E57;
        }
    }
}

.product-card:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2), 0px 0px 0px 2px rgba(0, 0, 0, 0.2);
}