$radius : 16px;

.product-card {
    border-radius: $radius;
    background-color: #EDEFEE;
    display: grid;
    // grid-template-rows: 3fr 4fr;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1), 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;

    img {
        width: 100%;
        object-fit: cover;
        border-top-left-radius: $radius;
        border-top-right-radius: $radius;

        @media (max-width: 700px) {
            height: 26vw;
        }

        @media (min-width: 701px) {
            height: 13vw;
        }
    }

    article {
        display: grid;
        grid-template-rows: 1fr 2fr 1fr;

        div {
            display: grid;
            grid-template-columns: 1fr 1fr;
            white-space: nowrap;
            padding: 0 10%;
            font-weight: bold;
            font-size: var(--button-font-size);

            .price {
                color: #EE9972;
                text-align: right;
            }
        }

        .card-description {
            padding: 0 10%;
            color: #495E57;
            font-size: var(--p-font-size);
            font-family: 'Karla', sans-serif;
        }

        button {
            cursor: pointer;
            display: flex;
            border: none;
            // text-transform: capitalize;
            font-weight: bold;
            white-space: nowrap;
            font-size: var(--p-font-size);
            justify-self: left;
            margin-left: 10%;
            background-color: #EDEFEE;
            transition: color 0.3s ease-in-out;
            align-self: center;

            .icon {
                font-size: var(--icon-font-size);
            }
        }

        button:hover {
            color: #495E57;
            // color: #EE9972;
        }
    }
}

.product-card:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2), 0px 0px 0px 2px rgba(0, 0, 0, 0.2);
}