@import './variable/globalVariables';

.rating {
    padding: $globalPadding;
    text-transform: capitalize;

    .h1 {
        font-size: var(--h1-font-size);
        white-space: nowrap;
        margin: 0;
        text-align: center;
        padding-top: 5%;
    }

    .ratingSection {
        display: grid;

        @media (min-width: 701px) {
            grid-template-columns: repeat(4, 1fr);
        }

        @media (max-width: 700px) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
        }

        grid-gap: 2.5%;

        .card {
            background-color: #EDEFEE;
            padding: 5%;
            display: grid;
            grid-template-rows: 2fr 1fr;

            .stars {
                color: #F4CE14;
                white-space: nowrap;
                width: 12.5%;
                height: 12.5%;
                padding: 0 20% 10% 20%;
                // justify-self: left;
            }

            .profile {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 5%;
                white-space: nowrap;
                cursor: pointer;

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: $radius;
                }

                p {
                    font-size: var(--icon-font-size);
                    justify-self: left;
                    align-self: center;
                }
            }

            div:hover {
                p {
                    color: $green-color;
                }
            }

            .comment {
                font-size: var(--p-font-size);
                font-family: 'Karla', sans-serif;
                margin: 0;
            }
        }
    }

}