.search-form {
    white-space: nowrap;
    display: flex;
    position: relative;

    .search-input {
        padding: 3%;
        border-top-left-radius: var(--radius);
        border-bottom-left-radius: var(--radius);
        border: 1px solid #ccc;
        font-size: var(--p-font-size);
        outline: none;
        transition: width 0.3s ease-in-out;
        width: 15vw;

        &:focus {
            width: 16vw;

            &+.search-button {
                color: #F4CE14;
            }
        }
    }

    .search-button {
        padding: 3%;
        border-top-right-radius: var(--radius);
        border-bottom-right-radius: var(--radius);
        background-color: #495E57;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        border: none;
        cursor: pointer;
        font-size: var(--p-font-size);
        transition: color 0.3s ease-in-out;
    }

    .close-icon,
    .search-input::-webkit-search-cancel-button {
        cursor: pointer;
        color: #495E57;
        transition: color 0.3s ease-in-out;

        &:hover {
            color: #EE9972;
        }
    }

    .search-menu {
        position: absolute;
        z-index: 1;
        border-radius: var(--small-radius);
        background-color: white;
        margin-top: 2.5vw;

        @media (max-width: 700px) {
            margin-top: 4.25vw;
        }
 
        &.search-shadow {
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1), 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
        }

        .sub-search-menu {
            background-color: #EDEFEE;
            display: grid;
            grid-template-columns: 1fr 3fr;

            @media (max-width: 700px) {
                grid-template-columns: 1fr 2fr;
            }

            border-radius: var(--small-radius);
            font-size: var(--p-font-size);
            align-items: center;
            margin: 0.5vw;
            padding: 0;
            cursor: pointer;
            border: none;
            color: #495E57;
            transition: background-color 0.3s ease-in-out;
        }

        .sub-search-menu:hover {
            background-color: lightgrey;
        }

        img {
            width: 100%;
            border-top-left-radius: var(--radius);
            border-bottom-left-radius: var(--radius);
        }

        p {
            overflow: hidden;
            text-overflow: ellipsis;
            text-decoration: none;
            margin: 0;
        }
    }
}