.cards-section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    padding: 0 2%;

    .cards {
        display: flex;
        gap: 2%;
        padding: 2%;
        overflow-x: scroll;
        scroll-behavior: smooth;

        .product-card {
            flex: 0 0 29%;

            @media (max-width: 700px) {
                flex: 0 0 50%;
            }

        }

        .notFound {
            width: 100%;
        }
    }

    .prev-button,
    .next-button {
        background-color: #495e57;
        color: white;
        padding: 1.5%;
        border-radius: var(--radius);
        border: none;
        display: flex;
        position: absolute;
        cursor: pointer;
        transition: color 0.3s ease-in-out, opacity 0.3s ease-in-out;
        opacity: 0.8;
    }

    .prev-button:hover,
    .next-button:hover {
        color: #F4CE14;
        opacity: 1;
    }

    .prev-button {
        left: 0;
    }

    .next-button {
        right: 0;
    }

    .cards::-webkit-scrollbar {
        width: 0 !important;
        display: none;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .hidden {
        display: none;
    }
}