$radius : 16px;

.cardsSection {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;

    .cards {
        display: flex;
        gap: 2%;
        padding: 2%;
        overflow-x: scroll;
        scroll-behavior: smooth;

        .productCard {
            flex: 0 0 29%;

            @media (max-width: 700px) {
                flex: 0 0 50%;
            }

        }
    }

    .prevButton,
    .nextButton {
        background-color: #495e57;
        color: white;
        padding: 1.5%;
        border-radius: $radius;
        border: none;
        display: flex;
        position: absolute;
        cursor: pointer;
        transition: color 0.3s ease-in-out;
    }

    .prevButton:hover,
    .nextButton:hover {
        color: #F4CE14;
    }

    .prevButton {
        left: 0;
    }

    .nextButton {
        right: 0;
    }

    .cards::-webkit-scrollbar {
        width: 0 !important;
        display: none;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .hidden {
        display: none;
    }
}